1. Import pandas and import the dataset in `repair.csv` to a DataFrame

In [1]:
import pandas as pd
repair = pd.read_csv('repair.csv')

2. Display the first `5` rows of the dataset.

In [2]:
repair.head(n=5)

,country,product_category,brand,year_of_manufacture,product_age,repair_status,year_repaired
0,gbr,aircon/dehumidifier,delonghi,2013.0,6.0,end of life,2019
1,nld,kettle,royal swiss,2019.0,0.0,fixed,2019
2,swe,mobile,apple,2015.0,3.0,repairable,2018
3,ita,desktop computer,dell,2011.0,10.0,fixed,2021
4,bel,power tool,makita,2015.0,4.0,end of life,2019

3. Display the datatypes of the dataset.

In [3]:
repair.dtypes

country                 object
product_category        object
brand                   object
year_of_manufacture    float64
product_age            float64
repair_status           object
year_repaired            int64
dtype: object

4. Assign the list of datatypes to a variable `datatypes`

In [4]:
datatypes = repair.dtypes
datatypes

country                 object
product_category        object
brand                   object
year_of_manufacture    float64
product_age            float64
repair_status           object
year_repaired            int64
dtype: object

5. Create a list of the countries appearing in the first five rows

In [5]:
countries = repair.head()[['country']]
countries

  country
0     gbr
1     nld
2     swe
3     ita
4     bel

6. The top three countries are `nld` with `21423` entries, `gbr` with `18576` entries, and `deu` with `7427` entries. Create a dictionary containing this information.

In [6]:
dictionary = { 'nld' : 21423,
              'gbr' : 18576,
              'deu' : 7427 }
dictionary

{'nld': 21423, 'gbr': 18576, 'deu': 7427}

7. Use a pandas method to display a count of all the countries in the dataset.

In [7]:
country_counts = repair['country'].value_counts()
country_counts

country
nld    21423
gbr    18576
deu     7427
bel     5008
can     1955
ita     1440
usa     1388
fra     1177
nor     1024
arg      617
esp      531
swe      509
aus      308
hkg      174
irl      156
tun       98
isl       91
aut       69
jey       56
nzl       54
ben        9
twn        3
che        1
Name: count, dtype: int64

8. Modify exercise 7 to return percentages and/or to sort from smallest to largest.

In [8]:
country_percents = repair['country'].value_counts(normalize=True, ascending=True)
country_percents

country
che    0.000016
twn    0.000048
ben    0.000145
nzl    0.000870
jey    0.000902
aut    0.001111
isl    0.001466
tun    0.001578
irl    0.002512
hkg    0.002802
aus    0.004960
swe    0.008197
esp    0.008552
arg    0.009937
nor    0.016491
fra    0.018955
usa    0.022353
ita    0.023191
can    0.031485
bel    0.080652
deu    0.119609
gbr    0.299159
nld    0.345009
Name: proportion, dtype: float64

9. Use a pandas method to find the earliest `year_repaired`

In [9]:
early_year_repaired = repair['year_repaired'].value_counts(ascending=True)
early_year_repaired.head(1)

year_repaired
1999    15
Name: count, dtype: int64

10. Use a pandas method to find the number of unique countries in the dataset

In [10]:
unique_countries = repair['country'].describe()
unique_countries

count     62094
unique       23
top         nld
freq      21423
Name: country, dtype: object